body{
  background-color: rgb(15, 15, 15);
}

@keyframes BorderColorAnim {
  0% { border-color: blue; }
  10% { border-color: rgb(0, 187, 255); }
  20% { border-color: rgb(0, 255, 234); }
  30% { border-color: rgb(0, 255, 128); }
  40% { border-color: rgb(34, 255, 0); }
  50% { border-color: rgb(136, 255, 0); }
  60% { border-color: rgb(145, 255, 0); }
  70% { border-color: rgb(255, 255, 0); }
  80% { border-color: rgb(255, 0, 0); }
  90% { border-color: rgb(247, 0, 255); }
  100% { border-color: rgb(87, 7, 158); }
}

@keyframes FontColorer {
  0% { color: blue; }
  10% { color: rgb(0, 187, 255); }
  20% { color: rgb(0, 255, 234); }
  30% { color: rgb(0, 255, 128); }
  40% { color: rgb(34, 255, 0); }
  50% { color: rgb(136, 255, 0); }
  60% { color: rgb(145, 255, 0); }
  70% { color: rgb(255, 255, 0); }
  80% { color: rgb(255, 0, 0); }
  90% { color: rgb(247, 0, 255); }
  100% { color: rgb(87, 7, 158); }
}

.maindiv {
  border-radius: 15px;
  border: 1px solid transparent;
  background-color: rgb(28, 28, 28);
  width: 700px;
  height: 525px;
  position: absolute;
  top: 15px;
  left: 50px;
  animation-name: BorderColorAnim;
  animation-duration: 3s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  display: block;
}

.adjustmentsdiv{
  border: 1px solid black;
  background-color: rgb(22, 22, 22);
  width: 450px;
  height: 300px;
  position: absolute;
  top: 220px;
  left: 225px;
}

.appdiv {
  display: none;
  background-color: rgb(15, 15, 15, 0.6);
  backdrop-filter: blur(30px);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
}

.appcentraldiv {
  width: 50%;
  height: 75%;
  background-color: rgb(28, 28, 28);
  position: absolute;
  top: 50px;
  left: 200px;
  border: 1px solid;
  animation-name: BorderColorAnim;
  animation-duration: 3s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}


.docdiv {
  display: none; 
  background-color: rgb(15, 15, 15, 0.6);
  backdrop-filter: blur(30px);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
}


.doccentraldiv {
  text-align: center;
  color: white;
  font-family: Audiowide;
  display: "block";
  width: 75%;
  height: 75%;
  background-color: rgb(28, 28, 28);
  position: absolute;
  top: 50px;
  left: 100px;
  border: 1px solid;
  animation-name: BorderColorAnim;
  animation-duration: 3s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;

}

.title{
  color: white;
  font-family: Anta;
  position: absolute;
  left: 125px;
  top: -15px;
}

.soundlist{
  width: 140px;
  font-family: Audiowide;
  background-color: rgb(35, 35, 35);
  position: absolute;
  top: 150px;
  left: 50px;
}

.soundfxlist{
  width: 160px;
  font-family: Audiowide;
  background-color: rgb(35, 35, 35);
  position: absolute;
  top: 250px;
  left: 16px;
}

.app_close_btn{
  background-color: transparent;
  border-radius: 10px;
  cursor: pointer;
  position: absolute;
  top: 92%;
  left: 175px;
  height: 32px;
}

.doc_close_btn{
  background-color: transparent;
  border-radius: 10px;
  cursor: pointer;
  position: absolute;
  top: 500px;
  left: 375px;
  height: 32px;
}


.app_refresh_btn{
  background-color: transparent;
  border-radius: 10px;
  cursor: pointer;
  position: absolute;
  top: 92%;
  left: 125px;
  height: 32px;
}


.app_delete_btn{
  background-color: transparent;
  border-radius: 10px;
  cursor: pointer;
  position: absolute;
  top: 92%;
  left: 225px;
  height: 32px;
}
.applistbtn{
  font-family: Audiowide;
  background-color: rgb(35, 35, 35);
  position: absolute;
  top: 150px;
  left: 325px;
  width: 125px;
  height: 30px;
  border-radius: 10px;
}

.applist {
  width: 325px; 
  height: 75%;
  position: absolute;
  border-radius: 15px;
  top: 15%; 
  left: 10%;
  overflow-y: auto;
  margin: 0;
  padding: 0;
  list-style-type: none;

  overflow-x: hidden; 
}

.applist-value {
  height: 50px;
  font-family: "Anta", sans-serif;
  font-size: 25px;
  text-align: center;
  background-color: rgb(41, 41, 41);
  width: 100%;
  padding: 20px 10px;
  border-bottom: 2px solid rgb(22, 22, 22);
  cursor: pointer;
  box-sizing: border-box;


  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}

.applist-value:hover {
  background-color: rgb(51, 51, 51);
}

.cpuratelimit{
  position: absolute;
  top: 250px;
  left: 50px;
  width: 150px;
  background-color: black;
}

.gpuratelimit{
  position: absolute;
  top: 325px;
  left: 50px;
  width: 150px;
  background-color: black;
}

.ramratelimit{
  position: absolute;
  top: 400px;
  left: 50px;
  width: 150px;
  background-color: black;
}

.heatratelimit{
  position: absolute;
  top: 475px;
  left: 50px;
  width: 150px;
  background-color: black;
}

.soundlevel{
  position: absolute;
  top: 100px;
  left: 15px;
  width: 150px;
  background-color: black;
}

.checkinterval{
  position: absolute;
  top: 175px;
  left: 15px;
  width: 150px;
  background-color: black;
}

.lb1{
  position: absolute;
  top: 125px;
  left: 50px;
  color: white;
  font-family: Audiowide;
}

.lb2{
  position: absolute;
  top: 225px;
  left: 50px;
  color: white;
  font-family: Audiowide;
}

.lb3{
  position: absolute;
  top: 300px;
  left: 50px;
  color: white;
  font-family: Audiowide;
}

.lb4{
  position: absolute;
  top: 375px;
  left: 50px;
  color: white;
  font-family: Audiowide;
}

.lb5{
  position: absolute;
  top: 450px;
  left: 50px;
  color: white;
  font-family: Audiowide;
}

.lb6{
  position: absolute;
  top: 125px;
  left: 325px;
  color: white;
  font-family: Audiowide;
}

.lb7{
  position: absolute;
  top: 75px;
  left: 16px;
  color: white;
  font-family: Audiowide;
}

.lb8{
  position: absolute;
  top: 150px;
  left: 16px;
  color: white;
  font-family: Audiowide;
}

.lb9{
  position: absolute;
  top: 225px;
  left: 16px;
  color: white;
  font-family: Audiowide;
}


.docbtn{
  background-color: darkgray;
  border-radius: 10px;
  width: 100px;
  cursor: pointer;
  
  position: absolute;
  top: 50px;
  left: 300px;
}
